.topBarContainer{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
}

.topBarContainerFirst{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBarContainerFirst h2{
    font-family:cursive;
}
.topBarContainerFirst h2 span{
    color: rgb(194, 7, 7);
}
.topBarContainerFirst .topBarContainerFirstsurchcart{
    display: flex;
    gap:30px;
    align-items: center;
}
.topBarContainerFirst .topBarContainerFirstsurchcart input{
    padding: 5px;
}
.topBarContainerFirst .topBarContainerFirstsurchcart .iconfavoris{
    display: flex;
    gap: 10px;
}
.topBarContainerFirst .topBarContainerFirstsurchcart .iconcart{
    display: flex;
    gap: 10px;
}

.topBarContainerFirst .topBarContainerFirstsurchcart .iconmenu{
    display: none;
}

.topBarContainer hr{
    opacity: 0.3;
}

.topBarContainerSecond{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.topBarContainerSecond a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 14px;
}

.cartContainer{
    width:400px;
    height:100vh;
    background-color: whitesmoke;
    position: fixed;
    right: 0;
    top: 0;
    margin-right: -400px;
    transition: 1s;
   
}


@media screen and (max-width:1000px) {
    .topBarContainerFirst{
        width: 100%;
    }
    .topBarContainerFirst h2{
        margin-left: 50px;
    }

    .topBarContainerSecond{
        width: 100%;
        padding-left: 50px;
        
    }

}


@media screen and (max-width:600px) {
    .topBarContainer{
        padding-bottom: 0px;
    }
    .topBarContainerFirst .topBarContainerFirstsurchcart input{
        display: none;
    }
    .topBarContainerFirst .topBarContainerFirstsurchcart .iconfavoris{
        display: none;
    }
    .topBarContainerFirst .topBarContainerFirstsurchcart .iconmenu{
        display: block;
        margin-right: 10px;
    }
    .topBarContainerSecond{
        display: none;
    }
    hr{
        display:  none;
    }
    
}


@media screen and (max-width:400px) {
    
    .topBarContainerFirst h2{
        margin-left: 10px;
        font-size: 20px;
    }

    .topBarContainerFirst .topBarContainerFirstsurchcart .iconfavoris{
        display: none;
    }
    
}